
.about {
  background-image: url("./../images/bg-about.jpg");
  background-repeat: repeat-x;
}

.about .header {
  padding: 0 48px;
}

.about .about__content {
  background-color: transparent;
  text-align: left;
  padding: 0 60px;
  padding-bottom: 30px;
}

.about .about__content .text-wrap {
  background-color: white;
  padding: 12px;
}

.about .about__content p {
  margin: 18px 0;
}

.about .about__content h1 {
  font-weight: bold;
  font-size: 20px;
}

.about .about__content h2 {
  font-weight: bold;
  font-size: 18px;
}

.about .about__content .parkswrap {
  text-align: center;
  margin-top: 50px;
}

.about .footer {
  background-color: blue!important;
  color: white;
}

.about .footer .columns {
  padding-top: 30px;
}

.about .footer a {
  color: white;;
}



/** Responsive **/

@media (max-width: 768px) {
  .about .header {
    padding: 0;
  }

  .about .about__content {
    padding: 20px 0;
  }

  .about .about__content .text-wrap {
    padding: 23px;
  }

}
